{% comment %} <svg class="wave" viewBox="0 0 1200 100" preserveAspectRatio="none">
  <path d="M0,40 Q300,80 600,40 Q900,0 1200,40 L1200,100 L0,100 Z" fill="white" stroke="black" stroke-width="5" />
</svg> {% endcomment %}

<div class="foot">
  <div class="container">
    <div class="pad-50 display">
      <div class="logo-white"></div>
      <input type="email" placeholder="Подпишись на рассылку" />
    </div>
    <hr class="mar-30" />

    <div class="display align-start gap">
        <div class="col-display">
          <h2>Доступ к ранним релизам в приложении</h2>
        <div class="app-store"></div>
        <div class="google-play"></div>
      </div>

      <div class="col-display">
        <a class="white" href=""> <h3>Контакты</h3></a>
        <a class="white" href=""><h2><i class="fa-solid fa-phone"></i> 8 (800) 511-74-68</h2></a>
        <a class="white" href=""><h2><i class="fa-solid fa-envelope"></i> Контактный Email</h2></a>
      </div>

      <div class="col-display">
        <a class="white" href=""><h3>Помощь</h3></a>
        <a href="">Доставка</a>
        <a href="">Оплата</a>
        <a href="">Возврат</a>
        <a href="">Отзывы (2290)</a>
        <a href="">Акции и скидки</a>
      </div>

      <div class="col-display text-start">
        <a class="white" href=""><h3>Компания</h3></a>
        <a href="">Контакты</a>
        <a href="">О boardriders</a>
        <a href="">Вакансии</a>
        <a href="">ОПубличная оферта</a>
      </div>

      <div class="col-display text-start">
        <a class="white" href=""><h3>Boardriders Inc.</h3></a>
        <a href="">Франчайзинг</a>
        <a href="">Quiksilver</a>
        <a href="">Roxy</a>
        <a href="">DC Shoes</a>
        <a href="">Boardriders Club</a>
      </div>

    </div>
  </div>
</div>
