{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>

    <body>
        <section>
            <form>
                <h1>Login</h1>
                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    {% comment %} <input type="email" required> {% endcomment %}
                    {{ form.username }}
                    {% comment %} <label for="">username</label> {% endcomment %}
                </div>

                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    {% comment %} <input type="email" required> {% endcomment %}
                    {{ form.first_name }}
                    {% comment %} <label for="">first_name</label> {% endcomment %}
                </div>

                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    {{ form.last_name }}
                    {% comment %} <label for="">last_name</label> {% endcomment %}
                </div>

                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    {% comment %} <input type="email" required> {% endcomment %}
                    {{ form.email }}
                    {% comment %} <label for="">Email</label> {% endcomment %}
                </div>

                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    {% comment %} <input type="email" required> {% endcomment %}
                    {{ form.password1 }}
                    {% comment %} <label for="">password1</label> {% endcomment %}
                </div>

                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    {{ form.password2 }}
                    {% comment %} <label for="">password2</label> {% endcomment %}
                </div>

                <button type="submit">Register</button>
                <div class="forget">
                    <label for=""><input type="checkbox">Remember Me</label>
                  <a href="#">Forget Password</a>
                </div>
                <button>Log in</button>
                <div class="register">
                    <p>Don't have a account <a href="#">Register</a></p>
                </div>
            </form>
        </section>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>

</html>