{% extends 'base.html' %}
{% block content %}

<div class="login-page">

<section class="section">
    <form action="{% url 'register' %}" method="post" novalidate>
        {% csrf_token %}
        <h1>Register</h1>
    
        <div class="inputbox">
            <ion-icon name="person-outline"></ion-icon>
            {{ form.username }}
            <div class="red-text">
                {{ form.username.errors }}
            </div>
        </div>
    
        <div class="inputbox">
            <ion-icon name="person-outline"></ion-icon>
            {{ form.first_name }}
            <div class="red-text">
                {{ form.first_name.errors }}
            </div>
        </div>
    
        <div class="inputbox">
            <ion-icon name="person-outline"></ion-icon>
            {{ form.last_name }}
            <div class="red-text">
                {{ form.last_name.errors }}
            </div>
        </div>
    
        <div class="inputbox">
            <ion-icon name="mail-outline"></ion-icon>
            {{ form.email }}
            <div class="red-text">
                {{ form.email.errors }}
            </div>
        </div>
    
        <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            {{ form.password1 }}
            <div class="red-text">
                {{ form.password1.errors }}
            </div>
        </div>
    
        <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            {{ form.password2 }}
            <div class="red-text">
                {{ form.password2.errors }}
            </div>
        </div>
    
        <div class="input-button">
            <button type="submit">Register</button>
        </div>
    
                <div class="forget">
                    <label for=""><input type="checkbox">Remember Me</label>
                  <a href="#">Forget Password</a>
                </div>
                
                <div class="register">
                    <p>Don't have a account <a href="#">Register</a></p>
                </div>
            </form>
        </section>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock content %} 